body{
    margin: 0;
}

@font-face{
    font-family: SMW;
    font-weight: normal;
    font-style: normal;
    src: url("./Sprites/SMW.Monospace.otf") format("opentype");
}

#mainContextThing{
    font-family: 'SMW', sans-serif;
}